In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv("Problem1.csv")
df

,State/Union Territory,2004-05,2005-06,2006-07,2007-08,2008-09,2009-10,2010-11,2011-12,2012-13,2013-14,2014-15,2015-16,2016-17,2017-18,2018-19,2019-20,2020-21,2021-22,2022-23*
0,Andhra Pradesh,9601,11704,11872,13324,14241,10538,7882.4,7746.2,6862.4,6969.7,7233.9,7488.7,7452.4,8166.20,8234.7,8658.9,7882.9,7763.6,8542.3
1,Arunachal Pradesh,135,146.2,146.2,158.1,163.9,215.8,234.0,255.0,263.0,276.2,285.0,204.0,220.0,233.30,240.0,244.7,247.1,252.4,-
2,Assam,3470.7,3552.5,2916,3319,4008.5,4335.9,4736.6,4516.3,5128.5,4927.1,5222.7,5125.1,4727.4,5283.70,5220.6,4984.6,5214.8,4382.1,4979.8
3,Bihar,2472.2,3495.5,4989.3,4418.1,5590.3,3599.3,3102.1,7162.6,7529.3,5505.8,6356.7,6802.2,8239.3,8093.10,6155.5,6298.0,6747.0,7717.0,6725.2
4,Chhattisgarh,4383.3,5011.6,5041.4,5426.6,4391.8,4110.4,6159.0,6028.4,6608.8,6716.4,6322.1,5789.4,8048.4,4930.80,6526.9,6774.8,7161.2,8021.7,8238.3
5,NCT of Delhi,14.3,24,31.1,31.4,31.4,19.3,19.6,19.8,19.7,29.6,25.9,17.3,17.3,16.80,16.8,16.8,19.8,19.0,-
6,Goa,145.2,147.3,130.3,121.6,123.3,100.6,115.0,121.8,122.8,126.5,120.5,115.1,113.2,103.00,98.8,90.4,87.3,90.4,-
7,Gujarat,1238.2,1298,1390,1474,1303,1292,1496.6,1790.0,1541.0,1636.0,1830.9,1702.0,1930.0,1890.90,1912.1,1983.1,2145.7,2101.1,2395.2
8,Haryana,3023,3210,3371,3613,3298,3625,3472.0,3759.0,3976.0,3998.0,4006.0,4145.0,4453.0,4523.38,4516.1,4824.3,4424.9,4618.0,5406.9
9,Himachal Pradesh,122,112.1,123.5,121.5,118.3,105.9,128.9,131.6,125.3,120.8,125.2,129.9,146.6,114.79,114.9,143.8,140.5,167.5,119.2
10,Jammu & Kashmir,492.2,556.8,554,561.3,563.1,497.4,507.7,544.7,818.1,610.9,517.2,646.4,572.2,513.14,615.8,587.0,581.5,492.9,-
11,Jharkhand,1677,1558,2967.8,3336.4,3420.2,1538.4,1110.0,3130.6,3164.9,2810.6,3361.9,2882.2,3841.8,4078.04,2893.9,3012.8,2752.9,2930.5,1399.8
12,Karnataka,3547,5744,3446,3717,3802,3691,4188.0,3955.0,3364.0,3572.6,3541.0,3021.0,2604.8,3017.10,3431.0,3634.5,4291.8,4318.4,4001.3
13,Kerala,667.1,629.9,631,528.5,590.3,598.3,522.7,569.0,508.3,509.2,562.1,549.3,437.1,521.30,578.3,605.6,633.8,487.0,581.4
14,Madhya Pradesh,1169,1656.3,1368.4,1461.9,1559.7,1260.6,1772.1,2227.3,2775.0,2844.8,3625.3,3546.7,4226.8,4123.90,4494.7,4778.2,4413.8,4814.9,7657.2
15,Maharashtra,2164,2695,2569,2996,2284,2183,2696.0,2841.0,3057.0,3120.0,2946.0,2593.0,3109.5,2730.80,3275.7,2897.6,3291.7,3598.1,3899.1
16,Manipur,435.9,386.1,386.1,406.2,397,319.9,521.7,591.0,257.6,398.5,334.1,338.8,430.4,607.80,401.6,385.5,602.2,567.4,-
17,Meghalaya,193.7,151.9,200.2,200,203.9,206.7,207.0,216.5,232.0,273.9,298.2,301.1,203.0,304.60,202.0,303.4,295.9,297.3,-
18,Mizoram,104.1,99.2,29.5,15.7,46,44.3,47.2,54.3,30.5,59.0,60.7,62.1,61.5,59.60,60.0,60.0,62.2,60.9,-
19,Nagaland,259.8,263.1,263.5,290.6,345.1,240.3,381.4,382.4,405.2,429.6,454.2,318.8,336.7,349.60,356.7,363.3,367.4,150.7,-
20,Odisha,6466,6859,6824.7,7540.7,6812.7,6917.5,6827.7,5807.0,7295.5,7613.4,8298.2,5875.4,8325.9,6551.30,7733.7,8360.4,8810.3,9290.8,9621.2
21,Puducherry,65.7,59.9,59.9,53.4,50.8,52.4,52.0,42.1,46.5,49.8,52.7,43.9,52.2,42.50,63.3,59.4,50.0,57.1,-
22,Punjab,10437,10193,10138,10489,11000,11236,10837.0,10542.0,11374.0,11267.0,11107.0,11823.0,11586.2,13381.79,12821.6,11779.3,12783.7,12885.5,13146.7
23,Rajasthan,150.4,153,169.8,259.6,241.1,228.3,265.5,253.4,222.5,312.6,366.7,369.8,452.7,450.87,453.2,480.5,634.0,478.6,577.4
24,Sikkim,21.6,21.5,21.5,22.9,21.7,24.3,21.0,20.9,21.3,20.3,20.1,13.1,19.7,17.63,17.2,16.1,16.2,16.0,-
25,Tamil Nadu,5062.2,5220,6610.6,5040.2,5182.7,5665.2,5792.4,7458.7,4049.9,5349.8,5727.8,7517.1,2369.4,6638.90,6130.9,7171.1,6881.2,7906.6,7850.6
26,Telangana,.,.,.,.,.,.,6535.6,5148.8,4647.6,5755.0,4440.8,3047.0,5173.4,6262.20,6670.0,7427.8,10217.1,12409.6,16013.9
27,Tripura,545.1,552.9,620.5,624.6,627.1,640,702.5,718.3,713.2,711.8,747.0,794.8,814.6,812.10,793.2,810.2,803.1,811.0,-
28,Uttar Pradesh,9555.6,11133.7,11124,11780,13097,10807.1,11992.0,14022.0,14416.0,14636.0,12167.9,12501.0,13754.0,13274.00,15545.3,15517.8,15520.0,15271.5,15171.3
29,Uttarakhand,572,590,556,593,582,608,550.4,594.0,579.8,578.6,603.7,639.1,630.0,646.70,617.6,658.4,714.9,716.1,641.7
30,West Bengal,14884.8,14510.8,14745.9,14719.5,15037.3,14340.7,13045.9,14605.8,15023.7,15370.7,14677.2,15953.9,15302.5,14967.00,16242.2,15881.4,16524.4,16728.7,15636.9
31,ALL INDIA,83131.7,91793.4,93355.3,96692.9,99182.5,89092.9,95979.8,105310.9,105231.6,106645.5,104798.5,104408.2,109698.4,112757.60,116477.8,118870.3,124368.3,129471.4,135542

In [ ]:
df_transposed = df.copy().transpose()
df_transposed

,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,31
State/Union Territory,Andhra Pradesh,Arunachal Pradesh,Assam,Bihar,Chhattisgarh,NCT of Delhi,Goa,Gujarat,Haryana,Himachal Pradesh,...,Punjab,Rajasthan,Sikkim,Tamil Nadu,Telangana,Tripura,Uttar Pradesh,Uttarakhand,West Bengal,ALL INDIA
2004-05,9601,135,3470.7,2472.2,4383.3,14.3,145.2,1238.2,3023,122,...,10437,150.4,21.6,5062.2,.,545.1,9555.6,572,14884.8,83131.7
2005-06,11704,146.2,3552.5,3495.5,5011.6,24,147.3,1298,3210,112.1,...,10193,153,21.5,5220,.,552.9,11133.7,590,14510.8,91793.4
2006-07,11872,146.2,2916,4989.3,5041.4,31.1,130.3,1390,3371,123.5,...,10138,169.8,21.5,6610.6,.,620.5,11124,556,14745.9,93355.3
2007-08,13324,158.1,3319,4418.1,5426.6,31.4,121.6,1474,3613,121.5,...,10489,259.6,22.9,5040.2,.,624.6,11780,593,14719.5,96692.9
2008-09,14241,163.9,4008.5,5590.3,4391.8,31.4,123.3,1303,3298,118.3,...,11000,241.1,21.7,5182.7,.,627.1,13097,582,15037.3,99182.5
2009-10,10538,215.8,4335.9,3599.3,4110.4,19.3,100.6,1292,3625,105.9,...,11236,228.3,24.3,5665.2,.,640,10807.1,608,14340.7,89092.9
2010-11,7882.4,234.0,4736.6,3102.1,6159.0,19.6,115.0,1496.6,3472.0,128.9,...,10837.0,265.5,21.0,5792.4,6535.6,702.5,11992.0,550.4,13045.9,95979.8
2011-12,7746.2,255.0,4516.3,7162.6,6028.4,19.8,121.8,1790.0,3759.0,131.6,...,10542.0,253.4,20.9,7458.7,5148.8,718.3,14022.0,594.0,14605.8,105310.9
2012-13,6862.4,263.0,5128.5,7529.3,6608.8,19.7,122.8,1541.0,3976.0,125.3,...,11374.0,222.5,21.3,4049.9,4647.6,713.2,14416.0,579.8,15023.7,105231.6
2013-14,6969.7,276.2,4927.1,5505.8,6716.4,29.6,126.5,1636.0,3998.0,120.8,...,11267.0,312.6,20.3,5349.8,5755.0,711.8,14636.0,578.6,15370.7,106645.5
2014-15,7233.9,285.0,5222.7,6356.7,6322.1,25.9,120.5,1830.9,4006.0,125.2,...,11107.0,366.7,20.1,5727.8,4440.8,747.0,12167.9,603.7,14677.2,104798.5
2015-16,7488.7,204.0,5125.1,6802.2,5789.4,17.3,115.1,1702.0,4145.0,129.9,...,11823.0,369.8,13.1,7517.1,3047.0,794.8,12501.0,639.1,15953.9,104408.2
2016-17,7452.4,220.0,4727.4,8239.3,8048.4,17.3,113.2,1930.0,4453.0,146.6,...,11586.2,452.7,19.7,2369.4,5173.4,814.6,13754.0,630.0,15302.5,109698.4
2017-18,8166.2,233.3,5283.7,8093.1,4930.8,16.8,103.0,1890.9,4523.38,114.79,...,13381.79,450.87,17.63,6638.9,6262.2,812.1,13274.0,646.7,14967.0,112757.6
2018-19,8234.7,240.0,5220.6,6155.5,6526.9,16.8,98.8,1912.1,4516.1,114.9,...,12821.6,453.2,17.2,6130.9,6670.0,793.2,15545.3,617.6,16242.2,116477.8
2019-20,8658.9,244.7,4984.6,6298.0,6774.8,16.8,90.4,1983.1,4824.3,143.8,...,11779.3,480.5,16.1,7171.1,7427.8,810.2,15517.8,658.4,15881.4,118870.3
2020-21,7882.9,247.1,5214.8,6747.0,7161.2,19.8,87.3,2145.7,4424.9,140.5,...,12783.7,634.0,16.2,6881.2,10217.1,803.1,15520.0,714.9,16524.4,124368.3
2021-22,7763.6,252.4,4382.1,7717.0,8021.7,19.0,90.4,2101.1,4618.0,167.5,...,12885.5,478.6,16.0,7906.6,12409.6,811.0,15271.5,716.1,16728.7,129471.4
2022-23*,8542.3,-,4979.8,6725.2,8238.3,-,-,2395.2,5406.9,119.2,...,13146.7,577.4,-,7850.6,16013.9,-,15171.3,641.7,15636.9,135542

In [ ]:
df_transposed.to_csv('transposed_df.csv', header=False, index=True)

In [ ]:
new_df = pd.read_csv("transposed_df.csv")
new_df

,State/Union Territory,Andhra Pradesh,Arunachal Pradesh,Assam,Bihar,Chhattisgarh,NCT of Delhi,Goa,Gujarat,Haryana,...,Punjab,Rajasthan,Sikkim,Tamil Nadu,Telangana,Tripura,Uttar Pradesh,Uttarakhand,West Bengal,ALL INDIA
0,2004-05,9601.0,135,3470.7,2472.2,4383.3,14.3,145.2,1238.2,3023.00,...,10437.00,150.40,21.6,5062.2,.,545.1,9555.6,572.0,14884.8,83131.7
1,2005-06,11704.0,146.2,3552.5,3495.5,5011.6,24,147.3,1298.0,3210.00,...,10193.00,153.00,21.5,5220.0,.,552.9,11133.7,590.0,14510.8,91793.4
2,2006-07,11872.0,146.2,2916.0,4989.3,5041.4,31.1,130.3,1390.0,3371.00,...,10138.00,169.80,21.5,6610.6,.,620.5,11124.0,556.0,14745.9,93355.3
3,2007-08,13324.0,158.1,3319.0,4418.1,5426.6,31.4,121.6,1474.0,3613.00,...,10489.00,259.60,22.9,5040.2,.,624.6,11780.0,593.0,14719.5,96692.9
4,2008-09,14241.0,163.9,4008.5,5590.3,4391.8,31.4,123.3,1303.0,3298.00,...,11000.00,241.10,21.7,5182.7,.,627.1,13097.0,582.0,15037.3,99182.5
5,2009-10,10538.0,215.8,4335.9,3599.3,4110.4,19.3,100.6,1292.0,3625.00,...,11236.00,228.30,24.3,5665.2,.,640,10807.1,608.0,14340.7,89092.9
6,2010-11,7882.4,234.0,4736.6,3102.1,6159.0,19.6,115.0,1496.6,3472.00,...,10837.00,265.50,21.0,5792.4,6535.6,702.5,11992.0,550.4,13045.9,95979.8
7,2011-12,7746.2,255.0,4516.3,7162.6,6028.4,19.8,121.8,1790.0,3759.00,...,10542.00,253.40,20.9,7458.7,5148.8,718.3,14022.0,594.0,14605.8,105310.9
8,2012-13,6862.4,263.0,5128.5,7529.3,6608.8,19.7,122.8,1541.0,3976.00,...,11374.00,222.50,21.3,4049.9,4647.6,713.2,14416.0,579.8,15023.7,105231.6
9,2013-14,6969.7,276.2,4927.1,5505.8,6716.4,29.6,126.5,1636.0,3998.00,...,11267.00,312.60,20.3,5349.8,5755.0,711.8,14636.0,578.6,15370.7,106645.5
10,2014-15,7233.9,285.0,5222.7,6356.7,6322.1,25.9,120.5,1830.9,4006.00,...,11107.00,366.70,20.1,5727.8,4440.8,747.0,12167.9,603.7,14677.2,104798.5
11,2015-16,7488.7,204.0,5125.1,6802.2,5789.4,17.3,115.1,1702.0,4145.00,...,11823.00,369.80,13.1,7517.1,3047.0,794.8,12501.0,639.1,15953.9,104408.2
12,2016-17,7452.4,220.0,4727.4,8239.3,8048.4,17.3,113.2,1930.0,4453.00,...,11586.20,452.70,19.7,2369.4,5173.4,814.6,13754.0,630.0,15302.5,109698.4
13,2017-18,8166.2,233.3,5283.7,8093.1,4930.8,16.8,103.0,1890.9,4523.38,...,13381.79,450.87,17.63,6638.9,6262.2,812.1,13274.0,646.7,14967.0,112757.6
14,2018-19,8234.7,240.0,5220.6,6155.5,6526.9,16.8,98.8,1912.1,4516.10,...,12821.60,453.20,17.2,6130.9,6670.0,793.2,15545.3,617.6,16242.2,116477.8
15,2019-20,8658.9,244.7,4984.6,6298.0,6774.8,16.8,90.4,1983.1,4824.30,...,11779.30,480.50,16.1,7171.1,7427.8,810.2,15517.8,658.4,15881.4,118870.3
16,2020-21,7882.9,247.1,5214.8,6747.0,7161.2,19.8,87.3,2145.7,4424.90,...,12783.70,634.00,16.2,6881.2,10217.1,803.1,15520.0,714.9,16524.4,124368.3
17,2021-22,7763.6,252.4,4382.1,7717.0,8021.7,19.0,90.4,2101.1,4618.00,...,12885.50,478.60,16.0,7906.6,12409.6,811.0,15271.5,716.1,16728.7,129471.4
18,2022-23*,8542.3,-,4979.8,6725.2,8238.3,-,-,2395.2,5406.90,...,13146.70,577.40,-,7850.6,16013.9,-,15171.3,641.7,15636.9,135542.0

In [ ]:
new_df = new_df.rename(columns={"State/Union Territory":"Year"})
new_df.head()

,Year,Andhra Pradesh,Arunachal Pradesh,Assam,Bihar,Chhattisgarh,NCT of Delhi,Goa,Gujarat,Haryana,...,Punjab,Rajasthan,Sikkim,Tamil Nadu,Telangana,Tripura,Uttar Pradesh,Uttarakhand,West Bengal,ALL INDIA
0,2004-05,9601.0,135,3470.7,2472.2,4383.3,14.3,145.2,1238.2,3023.0,...,10437.0,150.4,21.6,5062.2,.,545.1,9555.6,572.0,14884.8,83131.7
1,2005-06,11704.0,146.2,3552.5,3495.5,5011.6,24,147.3,1298.0,3210.0,...,10193.0,153.0,21.5,5220.0,.,552.9,11133.7,590.0,14510.8,91793.4
2,2006-07,11872.0,146.2,2916.0,4989.3,5041.4,31.1,130.3,1390.0,3371.0,...,10138.0,169.8,21.5,6610.6,.,620.5,11124.0,556.0,14745.9,93355.3
3,2007-08,13324.0,158.1,3319.0,4418.1,5426.6,31.4,121.6,1474.0,3613.0,...,10489.0,259.6,22.9,5040.2,.,624.6,11780.0,593.0,14719.5,96692.9
4,2008-09,14241.0,163.9,4008.5,5590.3,4391.8,31.4,123.3,1303.0,3298.0,...,11000.0,241.1,21.7,5182.7,.,627.1,13097.0,582.0,15037.3,99182.5

In [ ]:
yr = [i for i in range(2004,2023)]
new_df["Year"] = yr
new_df

,Year,Andhra Pradesh,Arunachal Pradesh,Assam,Bihar,Chhattisgarh,NCT of Delhi,Goa,Gujarat,Haryana,...,Punjab,Rajasthan,Sikkim,Tamil Nadu,Telangana,Tripura,Uttar Pradesh,Uttarakhand,West Bengal,ALL INDIA
0,2004,9601.0,135,3470.7,2472.2,4383.3,14.3,145.2,1238.2,3023.00,...,10437.00,150.40,21.6,5062.2,.,545.1,9555.6,572.0,14884.8,83131.7
1,2005,11704.0,146.2,3552.5,3495.5,5011.6,24,147.3,1298.0,3210.00,...,10193.00,153.00,21.5,5220.0,.,552.9,11133.7,590.0,14510.8,91793.4
2,2006,11872.0,146.2,2916.0,4989.3,5041.4,31.1,130.3,1390.0,3371.00,...,10138.00,169.80,21.5,6610.6,.,620.5,11124.0,556.0,14745.9,93355.3
3,2007,13324.0,158.1,3319.0,4418.1,5426.6,31.4,121.6,1474.0,3613.00,...,10489.00,259.60,22.9,5040.2,.,624.6,11780.0,593.0,14719.5,96692.9
4,2008,14241.0,163.9,4008.5,5590.3,4391.8,31.4,123.3,1303.0,3298.00,...,11000.00,241.10,21.7,5182.7,.,627.1,13097.0,582.0,15037.3,99182.5
5,2009,10538.0,215.8,4335.9,3599.3,4110.4,19.3,100.6,1292.0,3625.00,...,11236.00,228.30,24.3,5665.2,.,640,10807.1,608.0,14340.7,89092.9
6,2010,7882.4,234.0,4736.6,3102.1,6159.0,19.6,115.0,1496.6,3472.00,...,10837.00,265.50,21.0,5792.4,6535.6,702.5,11992.0,550.4,13045.9,95979.8
7,2011,7746.2,255.0,4516.3,7162.6,6028.4,19.8,121.8,1790.0,3759.00,...,10542.00,253.40,20.9,7458.7,5148.8,718.3,14022.0,594.0,14605.8,105310.9
8,2012,6862.4,263.0,5128.5,7529.3,6608.8,19.7,122.8,1541.0,3976.00,...,11374.00,222.50,21.3,4049.9,4647.6,713.2,14416.0,579.8,15023.7,105231.6
9,2013,6969.7,276.2,4927.1,5505.8,6716.4,29.6,126.5,1636.0,3998.00,...,11267.00,312.60,20.3,5349.8,5755.0,711.8,14636.0,578.6,15370.7,106645.5
10,2014,7233.9,285.0,5222.7,6356.7,6322.1,25.9,120.5,1830.9,4006.00,...,11107.00,366.70,20.1,5727.8,4440.8,747.0,12167.9,603.7,14677.2,104798.5
11,2015,7488.7,204.0,5125.1,6802.2,5789.4,17.3,115.1,1702.0,4145.00,...,11823.00,369.80,13.1,7517.1,3047.0,794.8,12501.0,639.1,15953.9,104408.2
12,2016,7452.4,220.0,4727.4,8239.3,8048.4,17.3,113.2,1930.0,4453.00,...,11586.20,452.70,19.7,2369.4,5173.4,814.6,13754.0,630.0,15302.5,109698.4
13,2017,8166.2,233.3,5283.7,8093.1,4930.8,16.8,103.0,1890.9,4523.38,...,13381.79,450.87,17.63,6638.9,6262.2,812.1,13274.0,646.7,14967.0,112757.6
14,2018,8234.7,240.0,5220.6,6155.5,6526.9,16.8,98.8,1912.1,4516.10,...,12821.60,453.20,17.2,6130.9,6670.0,793.2,15545.3,617.6,16242.2,116477.8
15,2019,8658.9,244.7,4984.6,6298.0,6774.8,16.8,90.4,1983.1,4824.30,...,11779.30,480.50,16.1,7171.1,7427.8,810.2,15517.8,658.4,15881.4,118870.3
16,2020,7882.9,247.1,5214.8,6747.0,7161.2,19.8,87.3,2145.7,4424.90,...,12783.70,634.00,16.2,6881.2,10217.1,803.1,15520.0,714.9,16524.4,124368.3
17,2021,7763.6,252.4,4382.1,7717.0,8021.7,19.0,90.4,2101.1,4618.00,...,12885.50,478.60,16.0,7906.6,12409.6,811.0,15271.5,716.1,16728.7,129471.4
18,2022,8542.3,-,4979.8,6725.2,8238.3,-,-,2395.2,5406.90,...,13146.70,577.40,-,7850.6,16013.9,-,15171.3,641.7,15636.9,135542.0

In [ ]:
new_df.to_csv("processed_ds1.csv", index = False)



*   Handle missing or incorrect values. For example, replacing periods (".") with NaN (Not a Number) to accurately reflect missing data.

In [ ]:
new_df.replace('-', np.nan, inplace=True)

new_df = new_df.apply(pd.to_numeric, errors='coerce')

In [ ]:
new_df

,Year,Andhra Pradesh,Arunachal Pradesh,Assam,Bihar,Chhattisgarh,NCT of Delhi,Goa,Gujarat,Haryana,...,Punjab,Rajasthan,Sikkim,Tamil Nadu,Telangana,Tripura,Uttar Pradesh,Uttarakhand,West Bengal,ALL INDIA
0,2004,9601.0,135.0,3470.7,2472.2,4383.3,14.3,145.2,1238.2,3023.00,...,10437.00,150.40,21.60,5062.2,NaN,545.1,9555.6,572.0,14884.8,83131.7
1,2005,11704.0,146.2,3552.5,3495.5,5011.6,24.0,147.3,1298.0,3210.00,...,10193.00,153.00,21.50,5220.0,NaN,552.9,11133.7,590.0,14510.8,91793.4
2,2006,11872.0,146.2,2916.0,4989.3,5041.4,31.1,130.3,1390.0,3371.00,...,10138.00,169.80,21.50,6610.6,NaN,620.5,11124.0,556.0,14745.9,93355.3
3,2007,13324.0,158.1,3319.0,4418.1,5426.6,31.4,121.6,1474.0,3613.00,...,10489.00,259.60,22.90,5040.2,NaN,624.6,11780.0,593.0,14719.5,96692.9
4,2008,14241.0,163.9,4008.5,5590.3,4391.8,31.4,123.3,1303.0,3298.00,...,11000.00,241.10,21.70,5182.7,NaN,627.1,13097.0,582.0,15037.3,99182.5
5,2009,10538.0,215.8,4335.9,3599.3,4110.4,19.3,100.6,1292.0,3625.00,...,11236.00,228.30,24.30,5665.2,NaN,640.0,10807.1,608.0,14340.7,89092.9
6,2010,7882.4,234.0,4736.6,3102.1,6159.0,19.6,115.0,1496.6,3472.00,...,10837.00,265.50,21.00,5792.4,6535.6,702.5,11992.0,550.4,13045.9,95979.8
7,2011,7746.2,255.0,4516.3,7162.6,6028.4,19.8,121.8,1790.0,3759.00,...,10542.00,253.40,20.90,7458.7,5148.8,718.3,14022.0,594.0,14605.8,105310.9
8,2012,6862.4,263.0,5128.5,7529.3,6608.8,19.7,122.8,1541.0,3976.00,...,11374.00,222.50,21.30,4049.9,4647.6,713.2,14416.0,579.8,15023.7,105231.6
9,2013,6969.7,276.2,4927.1,5505.8,6716.4,29.6,126.5,1636.0,3998.00,...,11267.00,312.60,20.30,5349.8,5755.0,711.8,14636.0,578.6,15370.7,106645.5
10,2014,7233.9,285.0,5222.7,6356.7,6322.1,25.9,120.5,1830.9,4006.00,...,11107.00,366.70,20.10,5727.8,4440.8,747.0,12167.9,603.7,14677.2,104798.5
11,2015,7488.7,204.0,5125.1,6802.2,5789.4,17.3,115.1,1702.0,4145.00,...,11823.00,369.80,13.10,7517.1,3047.0,794.8,12501.0,639.1,15953.9,104408.2
12,2016,7452.4,220.0,4727.4,8239.3,8048.4,17.3,113.2,1930.0,4453.00,...,11586.20,452.70,19.70,2369.4,5173.4,814.6,13754.0,630.0,15302.5,109698.4
13,2017,8166.2,233.3,5283.7,8093.1,4930.8,16.8,103.0,1890.9,4523.38,...,13381.79,450.87,17.63,6638.9,6262.2,812.1,13274.0,646.7,14967.0,112757.6
14,2018,8234.7,240.0,5220.6,6155.5,6526.9,16.8,98.8,1912.1,4516.10,...,12821.60,453.20,17.20,6130.9,6670.0,793.2,15545.3,617.6,16242.2,116477.8
15,2019,8658.9,244.7,4984.6,6298.0,6774.8,16.8,90.4,1983.1,4824.30,...,11779.30,480.50,16.10,7171.1,7427.8,810.2,15517.8,658.4,15881.4,118870.3
16,2020,7882.9,247.1,5214.8,6747.0,7161.2,19.8,87.3,2145.7,4424.90,...,12783.70,634.00,16.20,6881.2,10217.1,803.1,15520.0,714.9,16524.4,124368.3
17,2021,7763.6,252.4,4382.1,7717.0,8021.7,19.0,90.4,2101.1,4618.00,...,12885.50,478.60,16.00,7906.6,12409.6,811.0,15271.5,716.1,16728.7,129471.4
18,2022,8542.3,NaN,4979.8,6725.2,8238.3,NaN,NaN,2395.2,5406.90,...,13146.70,577.40,NaN,7850.6,16013.9,NaN,15171.3,641.7,15636.9,135542.0